// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {
  overflow: hidden;
}
nav ul{
  list-style-type: none;
  padding: 0;
}

nav ul li{
  float: left;
  margin-right: 10px;
}
